* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #437391 1.18%, #73a9b5 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 110%;
  margin-right: 6px;
  border-radius: 5px;
  mix-blend-mode: multiply;
}

.header--title {
  font-size: 1.8rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
